<ul class="navbar-nav ms-auto">
  <li class="nav-item">
    <a href="/job/posted" class="nav-link <%= path ==='/job/posted' || path ==='/job/:id' ? 'active': '' %>">Posted Jobs</a>
  </li>
  <li class="nav-item">
    <a href="/job/post" class="nav-link <%= path ==='/job/post' ? 'active': '' %>">Post Jobs</a>
  </li>
  <li class="nav-item">
    <a href="/employee/search" class="nav-link <%= path ==='/employee/search' ? 'active': '' %>">Search For Employees</a>
  </li>
  <li class="nav-item">
    <a href="/logout" class="nav-link">Logout</a>
  </li>
</ul>
