<ul class="navbar-nav ms-auto">
  <li class="nav-item">
    <a href="/" class="nav-link <%= path ==='/' ? 'active': '' %>">Home</a>
  </li>
  <li class="nav-item">
    <a href="/login" class="nav-link <%= path ==='/login' ? 'active': '' %>">Login</a>
  </li>
  <li class="nav-item">
    <a href="/employee/signup" class="nav-link <%= path === '/signup' ? 'active': '' %> ">Signup</a>
  </li>
</ul>
